.addlist {
  width: 1102px;
}
.addlist .p-datatable-thead {
  height: 13px !important;
  width: 1094px !important;
  gap: 98px !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  align-items: center !important;
  display: flex !important;
  padding-left: 8px;
  padding-right: 8px;
}
.addlist .p-datatable .p-datatable-tbody {
  background-color: none !important;
}
.addlist .p-datatable {
  overflow-x: hidden;
}
.addlist .p-column-title {
  color: #719088 !important;
  font-size: 14px;
  font-weight: 500;
}

.addlist .p-datatable .p-datatable-tbody > tr {
  justify-content: space-between !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 1084px !important;
  height: 52px !important;
  display: flex !important;
  padding-left: 8px;
  padding-right: 8px;
  width: inherit;
  background-color: #f8f9fa !important;
  border-bottom: solid #e1e4f3 1px;
  gap: 88px !important;
}
.addlist .p-datatable .p-datatable-tbody > tr:hover {
  cursor: pointer;
  background-color: #f0f2fe !important;
  border: none;
  border-bottom: solid #e1e4f3 1px;
}
.addlist .p-datatable .p-datatable-tbody > tr > td {
  border: none !important;
  padding: 0px !important;
}
.addlist .p-datatable .p-datatable-tbody > tr:nth-of-type(1) {
  margin-top: 24px !important;
}

.addlist .p-datatable .p-datatable-wrapper {
  overflow-y: hidden;
}
.addlist .p-datatable-tbody > tr > td {
  font-weight: 400 !important;
  font-size: 14px !important;
  overflow: hidden !important;
  border: none !important;
  margin: 0px !important;
  line-height: 18px !important;
  color: #72728f !important;
}

.addlist .p-datatable-thead > tr {
  justify-content: space-between !important;
  flex-direction: row !important;
  align-items: center !important;
  height: 13px !important;
  display: flex !important;
  width: inherit;
  background-color: transparent !important;
}

.addlist .p-datatable-thead > tr > th {
  font-weight: 500 !important;
  font-size: 14px !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 13px !important;
  background-color: inherit !important;
  color: #4d4d4d !important;
  letter-spacing: 0.5px;
}
.addlist .p-datatable .p-datatable-tbody > tr {
  gap: 1px !important;
}
.addlist .p-datatable-thead > tr > th:nth-of-type(1),
.addlist tbody > tr > td:nth-of-type(1) {
  width: 300px !important;
}
.addlist .p-datatable-thead > tr > th:nth-of-type(2),
.addlist tbody > tr > td:nth-of-type(2) {
  width: 200px !important;
}
.addlist .p-datatable-thead > tr > th:nth-of-type(3),
.addlist tbody > tr > td:nth-of-type(3) {
  width: 130px !important;
}
.addlist .p-datatable-thead > tr > th:nth-of-type(4),
.addlist tbody > tr > td:nth-of-type(4) {
  width: 90px !important;
}
.addlist .p-datatable-thead > tr > th:nth-of-type(5),
.addlist tbody > tr > td:nth-of-type(5) {
  width: 46px !important;
}
