@tailwind base;
@tailwind components;
@tailwind utilities;

/********************************************* DROPDOWN */
.p-dropdown.p-focus {
  box-shadow: none !important;
  border-color: transparent !important;
}
.p-dropdown-items-wrapper {
  margin-top: 10px;
  max-height: 240px !important;
}
.p-dropdown-panel {
  margin-top: 4px;
  border-radius: 4px;
}
.p-dropdown-label.p-placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  letter-spacing: 0px;
}
.p-dropdown-label {
  color: #000000 !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}

.p-dropdown-trigger {
  width: 10px;
  margin-right: 17.33px;
  color: #808080;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: white !important;
  background-color: #00796b !important;
}

/********************************************* BUTTON */

.p-button-label {
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
}
