name: Firebase Deploy on PR to Main

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v2.2.0
        with:
         args: deploy --only hosting --project manzil-drive

        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
